/*HTML-BEN <link rel="stylesheet" href="../../../static/source/layout_style.css"> úton lehet elérni> Majd következő TW-héten*/

        .title_link {
            background-color: #24252a;
            color: #1fb7db;
            font-family: monospace;
            font-style: normal;
            border-radius: 10px;
            border-color: white;
            text-decoration: none;
        }

        .links {
            background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
            font-size: 1.3em;
            margin-block-start: 5px;
            margin-inline-start: 10%;
            border: 2px solid whitesmoke;
        }

        .add_question_link {
            background-color: #0088a9;
            padding: 3px;
            padding-inline: 0.8em;
            color: lightgray;
            font-family: monospace;
            font-size: 1.3em;
            /*margin-block-start: 10%;*/
            margin-inline-start: 10%;
            border: 2px solid whitesmoke;
            position: absolute;
            top: 6.5em;
            text-decoration: none;
        }

        h1, h2 {
            background-color: #0088a9;
            color: lightgray;
            text-align: center;
            font-family: monospace;
            /*{#background-image: url("../../../static/source/abstract.jpg");#}*/
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 8em;
            margin-inline-end: 8em;
            border-radius: 5px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
        }

        body {
            vertical-align: middle;
            margin: auto;
            height: 100%;
        }

        html {
            border: #0088a9;
            /*background-image: url("../images/hacker.jpg");*/
        }

        table, th, td {
            border: 1px solid black;
            box-shadow: 0 0 10px #14758c;
            background-color: #24252a;
            color: lightgray;
            border-radius: 5px;
            font-family: monospace;
            font-size: 1.1em;
            /*{#background-image: url("../../../static/source/abstract.jpg")#}*/
         }

        a {
            border-radius: 5px;
        }

        .main_page_table {
             background-color: #0088a9;
             border: 0;
             box-shadow: 0 0 15px #0088a9;
             margin-inline-start: 10%;
             margin-inline-end: 10%;
             margin-bottom: 300px;
             width: 80%;
        }

         th {
             background-color: #24252a;
             color: lightgray;
             margin: 50px;
             padding: 10px;
             outline: none !important;
             border-width: 1px;
             box-shadow: 0 0 10px black;
         }

        td {
            text-align:  center;
            text-decoration: none;
            color: whitesmoke;
        }

         .searchbar {
             text-align: right;
             margin-inline-end: 10%;
             margin-block-end: 1.1em;
             height: 2em;
         }

         .search_field {
             font-size: 1.3em;
         }

         .search_button {
             font-size: 1.3em;
         }

         .order_menu {
             font-size: 1em;
             margin-block-start: 5px;
             margin-block-end: -40px;
             padding-inline-start: 170px;
         }

         .footer {
             background-color: #24252a;
             height: 3em;
             position: fixed;
             left: 0;
             bottom: 0;
             width: 100%;
         }

         .footer_link {
             background-color: #0088a9;
             padding: 3px;
             padding-inline: 1em;
             color: lightgray;
             font-family: monospace;
             font-size: 1.3em;
             position: fixed;
             left: 10%;
             bottom: 0.8em;
             /*margin-block-start: 5px;*/
             /*margin-inline-start: 10%;*/
             border: 2px solid whitesmoke;
             text-decoration: none;
         }

         .displayed_question_title {
             background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
             text-align: center;
            /*{#background-image: url("../../../static/source/abstract.jpg");#}*/
            margin-block-start: 1em;
            margin-block-end: 1em;
             margin-inline: 15%;
             padding-bottom: 5px;
             padding-top: 5px;
            border-radius: 10px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
         }

         .displayed_question_message {
            margin-inline: 18%;
             text-align: justify;
             padding: 1%;
             background-color: lightgrey;

         }

         .displayed_answers {
             background-color: #0088a9;
             border: 0;
             box-shadow: 0 0 15px #0088a9;
             margin-inline-start: 15%;
             margin-inline-end: 15%;
             margin-top: 30px;
             width: 70%;
         }

         .submit_buttons_div {
         }

         .submit_button {
             font-size: 1em;
             width: 15%;
             background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
             font-size: 20px;
            border: 5px solid #0088a9;
             border-radius: 10px;
             cursor: pointer;
         }

         .button_place1 {
             margin-inline-start: 16%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place2 {
             margin-inline-start: 33%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place3 {
             margin-inline-start: 51%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place4 {
             margin-inline-start: 69%;
             width: 100%;
             margin-bottom: 300px;
         }

         .comment_section {
             background-color: #0088a9;
             border: 0;
             box-shadow: 0 0 15px #0088a9;
             margin-inline-start: 40%;
             margin-inline-end: 15%;
             margin-top: 30px;;
             width: 45%;
         }

