/*HTML-BEN <link rel="stylesheet" href="../../../static/source/layout_style.css"> úton lehet elérni> Majd következő TW-héten*/
        p {
            color: blue;
            font-size: 1.25em;
            font-family: monospace;
        }

        span {
            color: purple;
            font-size: 1.40em;
            font-family: monospace;
        }
        .title_link {
            background-color: #24252a;
            color: #1fb7db;
            font-family: monospace;
            font-style: normal;
            border-radius: 10px;
            border-color: white;
            text-decoration: none;
        }

        .links {
            background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
            font-size: 1.3em;
            margin-block-start: 5px;
            margin-inline-start: 10%;
            border: 2px solid whitesmoke;
        }

        .add_question_link {
            background-color: #0088a9;
            padding: 3px;
            padding-inline: 0.8em;
            color: lightgray;
            font-family: monospace;
            font-size: 1.3em;
            margin-block-start: 10%;
            margin-inline-start: 30%;
            border: 2px solid whitesmoke;
            position: absolute;
            top: 8em;
            text-decoration: none;
        }
        .my_profile{
            background-color: #0088a9;
            padding: 3px;
            padding-inline: 0.8em;
            color: lightgray;
            font-family: monospace;
            font-size: 1.3em;
            margin-inline-start: 10%;
            border: 2px solid whitesmoke;
            position: absolute;
            text-decoration: none;
        }
        h1, h2 {
            background-color: #0088a9;
            color: lightgray;
            text-align: center;
            font-family: monospace;
            /*{#background-image: url("../../../static/source/abstract.jpg");#}*/
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 15%;
            margin-inline-end: 15%;
            border-radius: 5px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
        }

        body {
            vertical-align: middle;
            margin: auto;
            height: 100%;
        }

        * {
            margin:0;
            padding:0;
            font-family: consolas, sans-serif;
        }
        body {
            background: #555;
        }
        section{
            padding: 100px;
        }
        section h2{
            font-size:3.5em;
            color:#555;
        }
        section p{
            font-size:1.2em;
            color: #555;
        }

        /*---------------------------VILÁGÍTÓ HÁTTÉR KÓDJA -----------------------------*/
        /*html {*/
        /*    background-size: cover;*/
        /*    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
        /*    background-size: 400% 400%;*/
	    /*    animation: gradient 15s ease infinite;*/
	    /*    height: 50rem;*/
        /*}*/
        /*    @keyframes gradient {*/
        /*    0% {*/
        /*        background-position: 0% 50%;*/
        /*    }*/
        /*    50% {*/
        /*        background-position: 100% 50%;*/
        /*    }*/
        /*    100% {*/
        /*        background-position: 0% 50%;*/
        /*    }*/
        /*}*/

        table, th, td {
            border: 1px solid black;
            box-shadow: 0 0 10px #14758c;
            background-color: #24252a;
            color: lightgray;
            border-radius: 5px;
            font-family: monospace;
            font-size: 1.1em;
            /*{#background-image: url("../../../static/source/abstract.jpg")#}*/
         }

        a {
            border-radius: 5px;
        }

        .main_page_table {
             background-color: #0088a9;
             border: 0;
             box-shadow: 0 0 15px #0088a9;
             margin-inline-start: 10%;
             margin-inline-end: 10%;
             margin-bottom: 300px;
             width: 80%;
        }

         th {
             background-color: #24252a;
             color: lightgray;
             margin: 50px;
             padding: 10px;
             outline: none !important;
             border-width: 1px;
             box-shadow: 0 0 10px black;
         }

        td {
            text-align:  center;
            text-decoration: none;
            color: whitesmoke;
        }

         .searchbar {
             text-align: right;
             margin-inline-end: 10%;
             margin-block-end: 1.1em;
             height: 2em;
             border-radius : 10px;
             position: absolute;
             right: 0;
             top: 12.5em;
         }
         .searchbar .search_button {
             font-size: 2em;
             border-radius: 5px;
         }
         .searchbar .search_field{
             margin-right: 1em;
         }

         .search_field {
             font-size: 1.3em;
         }

         .search_button {
             font-size: 1.3em;
             background-color: #0088a9;
             color: lightgray;
             font-family: monospace;
             text-align: center;
         }

         .footer {
             background-color: #24252a;
             height: 3em;
             position: fixed;
             left: 0;
             bottom: 0;
             width: 100%;
         }

         .footer_link {
             background-color: #0088a9;
             padding: 3px;
             padding-inline: 1em;
             color: lightgray;
             font-family: monospace;
             font-size: 1.3em;
             position: fixed;
             left: 10%;
             bottom: 0.8em;
             /*margin-block-start: 5px;*/
             /*margin-inline-start: 10%;*/
             border: 2px solid whitesmoke;
             text-decoration: none;
         }

         .displayed_question_title {
             background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
             text-align: center;
            /*{#background-image: url("../../../static/source/abstract.jpg");#}*/
            margin-block-start: 1em;
            margin-block-end: 1em;
             margin-inline: 10%;
             padding-bottom: 5px;
             padding-top: 5px;
            border-radius: 10px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
         }

         .displayed_question_message {
            margin-inline-start: 15%;
             margin-inline-end: 15%;
             margin-top: 2em;
             text-align: justify;
             padding: 1%;
             background-color: lightgrey;
             text-align: center;

         }

         .displayed_answers {
             background-color: #0088a9;
             border: 0;
             box-shadow: 0 0 15px #0088a9;
             margin-inline-start: 15%;
             margin-inline-end: 15%;
             margin-top: 30px;
             width: 70%;
             margin-bottom: 80px;
         }

         .submit_buttons_div {
         }

         .add_tag_button {
             margin-inline-start: 16%;
             width: 100%;
             margin-bottom: 10px;
         }

         .submit_button {
             font-size: 1em;
             width: 15%;
             background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
             font-size: 20px;
            border: 5px solid #0088a9;
             border-radius: 10px;
             cursor: pointer;
             text-align: center;
         }

         .button_place1 {
             margin-inline-start: 16%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place2 {
             margin-inline-start: 33%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place3 {
             margin-inline-start: 51%;
             width: 100%;
             margin-bottom: -33px;
         }
         .button_place4 {
             margin-inline-start: 69%;
             width: 100%;
         }

         .comment_section {
             margin-inline-start: 35%;
             margin-inline-end: 15%;
             width: 50%;
             margin-bottom: 3em;
         }

         .tag-section {
             margin-inline-start: 15%;
         }

         .form_design {
            margin-inline-start: 15%;
             margin-bottom: 400px;
         }

         /*----------Ez a scroolbar-------------*/
         #scrollpath{
            position:fixed;
            top:0;
            right:0;
            width:10px;
            height:100%;
             background: rgba(255,255,255,0.05);
         }

         #progressbar{
            position:fixed;
            top:0;
            right:0;
            width:10px;
            height:100%;
            background: linear-gradient(to top,#008aff,#00ffe7);
             animation: animate 5s linear infinite;
        }

         #progressbar:before,
         #progressbar::after{
            content:'';
             position:absolute;
            top:0;
            right:0;
            width:100%;
            height:100%;
             background: linear-gradient(to top,#008aff,#00ffe7);
             filter: blur(10px);
         }

         #progressbar:after{
             filter: blur(30px);
         }

         @keyframes animate{
             0%,100%
             {
                 filter: hue-rotate(0deg);
             }
             50%
             {
                 filter: hue-rotate(360deg);
             }
         }
         ::-webkit-scrollbar{
             width:0;
         }

         #percent {
             position: fixed;
             top: 50%;
             transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
             right: 15px;
             color: #fff;
             font-size: 2em;
             writing-mode: vertical-rl;
             text-orientation: sideways;
         }

         input[type="text"]{
             margin: 50px;
             padding: 10px;
             border-radius: 10px;
             outline: none! important;
             border-width: 1px;
             box-shadow: gray;
             border-color: #1A2980;
         }

