/*HTML-BEN <link rel="stylesheet" href="../../../static/source/list_style.css"> úton lehet elérni> Majd következő TW-héten*/

        .title_link {
            background-color: #24252a;
            color: lightgray;
            font-family: monospace;
            border-radius: 10px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
        }
        .links {
            background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 14em;
            margin-inline-end: 14em;
            border: 2px solid whitesmoke;
        }
        h1, h2 {
            background-color: #0088a9;
            color: lightgray;
            font-family: monospace;
            /*{#background-image: url("../../../static/source/abstract.jpg");#}*/
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 8em;
            margin-inline-end: 8em;
            border-radius: 5px;
            border-color: lightgrey;
            box-shadow: 0 0 10px lightgray;
        }
        body {
            vertical-align: middle;
            margin: auto;
            height: 100%;
        }
        html {
            border: #0088a9;
            background-image: url("../images/hacker.jpg");
        }
        table, th, td {
            border: 1px solid black;
            box-shadow: 0 0 10px #0088a9;
            background-color: #24252a;
            color: lightgray;
            border-radius: 5px;
            font-family: monospace;
            /*{#background-image: url("../../../static/source/abstract.jpg")#}*/
         }
        table {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
}
         th {
             background-color: #24252a;
             color: lightgray;
             margin: 50px;
             padding: 10px;
             outline: none !important;
             border-width: 1px;
             box-shadow: 0 0 10px black;
         }