{% extends "source/html/LAYOUT.html" %}

    {% block page_title %}
        <title>Display Question | FORUM LOOP</title>
    {% endblock %}

    {% block content %}
        <body>
            {% for item in current_question %}
                <h1 class="displayed_question_title">{{ item['title'] }}</h1>
                    <p class="displayed_question_message">{{ item['message'] }}</p>
            {% endfor %}
            <table class="comment_section">
                <tbody>
                    {% for item in comment_data %}
                        <tr>
                            <td class="comment_time" >{{ item['submission_time'] }}</td>
                            <td class="comment_message" >{{ item['message'] }}</td>
                            <td class="comment_link" ><a href="/comments/{{ item['id'] }}/edit">Edited {{ item['edited_count'] }} times</a></td>
                            <td class="comment_link" ><a href="/comments/{{ item['id'] }}/delete",
                            onclick="return confirm('Are you sure you want to delete this comment?')">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="submit_buttons_div">
                <form class="button_place1" action='{{url_for('display_question', question_id=question_id)}}' method="post">
                    <input class="submit_button" type="submit" value="Add new answer" name="question_id">
                </form>
                <form class="button_place2" action='/question/{{question_id}}/new-comment' method="get">
                    <input class="submit_button" type="submit" value="Add new comment">
                </form>
                <form class="button_place3" action="/question/{{question_id}}/edit" >
                    <input class="submit_button" type="submit" value="Edit question" name="delete">
                </form>
                <form class="button_place4" action="/question/{{question_id}}/delete" method="get">
                    <input class="submit_button" type="submit" value="Delete question" name="comment_to_question">
                </form>
            </div>
            <table class="displayed_answers">
                    <thead>
                        <th>Votes</th>
                        <th>Answers</th>
                        <th>Comments</th>
                        <th colspan="2">Vote</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for item in answer_data %}
                            <tr>
                                <td>{{ item['vote_number'] }}</td>
                                <td>{{ item['message'] }}</td>
                                <td><a class="title_link" href="/answer/{{ item['id'] }}/comments">{{ nr_of_comments[item['id']] }} comments</a></td>
                                <td><a class="title_link" href="/answer/{{ item['id'] }}/vote_up">+</a></td>
                                <td><a class="title_link" href="/answer/{{ item['id'] }}/vote_down">-</a></td>
                                <td><a class="title_link" href="/answer/{{ item['id'] }}/edit">Edit</a></td>
                                <td><a class="title_link" href="/answer/{{ item['id'] }}/delete">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% block add_answer %}
            {% endblock %}
        </body>
    {% endblock %}
