{%extends "source/html/LAYOUT.html" %}

    {%block PAGE_title%}
        <title>Questions list | FORUM LOOP</title>
    {%endblock%}

    {% block content %}
        <a class="add_question_link" href="/add-question">Add Question</a>

        <div class="order_menu">
            <form action="/list">
                <select onchange='this.form.submit()' name='status_asc' id="cars" class="links">
                    <option disabled selected value> -- order by asc -- </option>
                    <option value='submission_time'>submission time</option>
                    <option value='message'>message</option>
                    <option value='title'>title</option>
                    <option value='view_number'>views</option>
                    <option value='vote_number'>votes</option>
                </select>
            </form>

            <form action="/list">
                <select onchange='this.form.submit()' name='status_desc' id="cars" class="links">
                    <option disabled selected value> -- order by desc -- </option>
                    <option value='submission_time'>submission time</option>
                    <option value='message'>message</option>
                    <option value='title'>title</option>
                    <option value='view_number'>views</option>
                    <option value='vote_number'>votes</option>
                </select>
            </form>
        </div>

        <div class="searchbar">
            <form action="/search" method="GET">
                <input class="search_field" type="text" name="q">
                <input class="search_button" type="submit" value="search">
            </form>
        </div>

        <table class="main_page_table">

            <thead>
                <tr>
                    {% for header in question_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                    <th colspan="2">Vote</th>
                </tr>
            </thead>

            <tbody>
                {% for item in question_data %}
                <tr>
                    {% for data in item %}
                        {% if data == 'title' %}
                            <td><a class="title_link" href= "/question/{{item['id']}}">{{ item[data] }}</a></td>
                        {% else %}
                            <td>{{ item[data] }}</td>
                        {% endif %}
                    {% endfor %}
                    <td><a class="title_link" href="/question/{{ item['id'] }}/vote_up">+</a></td>
                    <td><a class="title_link" href="/question/{{ item['id'] }}/vote_down" >-</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    {% block link_in_footer %}
        <div class="footer">
            <a class="links" href="/">LOGOUT</a>
        </div>
    {% endblock %}
