<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block head_title%}very nice forum | Add new question{%endblock%}</title>
    <link rel="stylesheet" href="../static/source/css/layout_style.css">
</head>
<body>
    <h1>{%block h1%}ADD QUESTION{%endblock%}</h1>
    <form class="form_design" {%block form%}action="/add-question" {%endblock%} method="post">
        <label for="question-title">
            <input type="text" id="question-title" name="question-title" {%block title%}placeholder="Enter The Title"{%endblock%}>
        </label><br>
        <label for="question-message">
            <textarea id="question-message" name="question-message" rows="5" cols="50" {%block message%}placeholder="Enter The Question Here...">{%endblock%}</textarea>
        </label><br>
        <input type="submit" {%block submit%}value="Share your question with the world!"{%endblock%}>
    </form>

{#    <form class="form_design" action="/add-question" method="post" enctype="multipart/form-data">#}
{#        <br>#}
{#        <fieldset>#}
{#            <input type="file" name="picture" id="picture" accept=".jpg, .jpeg, .png"/>#}
{#        </fieldset>#}
{#        <br>#}
{#    </form>#}

</body>
</html>
