{% extends "/LAYOUT.html" %}
<html>
    <head>
        {% block page_title %}
            <title>Bonus Questions</title>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
    {% block content %}
        <h1>AskMate</h1>
        <h2>All Questions:</h2>
        <button id="theme-button">Change Theme to Dark</button>
        <button id="increase-font-button">Increase page font</button>
        <button id="decrease-font-button">Decrease page font</button>
        <input
                id = "search"
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                placeholder="filter questions by keywords">
        <table id="myTable">
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr>
                    <th id="th1" style="cursor: pointer" onclick="getSortedItems(0)">Title ⇅</th>
                    <th id="th2" style="cursor: pointer" onclick="getSortedItems(1)">Description ⇅</th>
                    <th>Vote Count</th>
                    <th>View Number</th>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    </body>
</html>
