<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/source/css/index.css">

</head>
<body>
    <div class="bg-img">
        <form action="/list" class="container">
            <h1 style="color: white">Welcome on Forum Loop</h1>

            <label style="color: white" for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label style="color: white" for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <a href="/list"><button type="submit" class="btn">Login</button></a>
        </form>
    </div>
</body>
</html>