<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>
<body>
<h1 align="middle">QUESTIONS</h1>
<br>
<table border="1">
    <col width="50">
    <col width="200">
    <col width="150">
    <col width="100">
    <col width="150">
    <col width="350">
    <col width="150">
    <thead>
        <tr>
            {% for header in question_headers %}
                <th style="text-align:middle">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in question_data %}
        <tr>
            {% for data in item %}
                {% if data == 'title' %}
                    <td><a href={{ "/question/" + item['id'] }}>{{ item[data] }}</a></td>
                {% else %}
                    <td>{{ item[data] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div>
    <a href="http://127.0.0.1:5000/">Back to the Main Page</a>
</div>
</body>
</html>