{%extends "/LAYOUT.html" %}

{% block page_title %}
<title>Login</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <form method="post">
            <h1 class="display-1">Welcome Back</h1>
            <input type="text" placeholder="Enter Email" name="email" required>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}