{%extends "/LAYOUT.html" %}


{% block page_title %}
<title>User on our site</title>
{% endblock %}

{% block content %}
    <div>
        <table>
            <thead>
                {% for user in users %}
                    <tr>
                        {% for data in user %}
                            <td>{{ user[data] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </thead>
                {% for user in users %}
                    <tr>
                        {% for data in user %}
                            <td>{{ user[data] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    </div>


{% endblock %}